{% include "inc/header" %}


	<div class="box">
		<table class="pure-table pure-table-horizontal">
		    <thead>
		        <tr>
		            <th>Test1</th>
		            <th>Test2</th>
		        </tr>
		    </thead>

		    <tbody>
		        <tr>
		            <td>ID</td>
                            <td>id</td>
		        </tr>
                        <tr>
                            <td>HOSTNAME</td>
                            <td>hostname</td>
                        </tr>
                        <tr>
                            <td>IPADDRESS</td>
                            <td>ipaddress</td>
                        </tr>
                        <tr>
                            <td>SUBNET</td>
                            <td>subnet</td>
                        </tr>
                        <tr>
                            <td>MAC ADDRESS</td>
                            <td>mac address</td>
                        </tr>                       
			 <tr>
                            <td>LAST UPDATE</td>
                            <td>last update</td>
                        </tr>
                        <tr>
                            <td>PING</td>
                            <td>ping</td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td>os</td>
                        </tr>
                        <tr>
                            <td>KERNEL</td>
                            <td>kernel</td>
                        </tr>
                        <tr>
                            <td>UPTIME</td>
                            <td>uptime</td>
                        </tr>
                        <tr>
                            <td>RECIPE</td>
                            <td>recipe1<br>recipe2<br>recipe3</td>
                        </tr>
                        <tr>
                            <td>CPU family</td>
                            <td>CPU family</td>
                        </tr>
                        <tr>
                            <td>CPU count</td>
                            <td>CPU count</td>
                        </tr>
                        <tr>
                            <td>Memory</td>
                            <td>Memory</td>
                        </tr>        
	                <tr>
                            <td>COMMENT</td>
                            <td>COMMENT</td>
                        </tr>
		    </tbody>
		</table>
	</div>

{% include "inc/footer" %}
