{% include "inc/header" %}

	<div class="menu">
		<a href="/"><button class="pure-button pure-button-primary pure-button-small">renew</button></a>
	</div>

	<div class="box">
		<table class="pure-table pure-table-horizontal">
		    <thead>
		        <tr>
		            <th>ID</th>
		            <th>Hostname</th>
		            <th>Comment</th>
		            <th>IP Address</th>
		            <th>Last Update</th>
                            <th>Edit</th>
			    <th>DNS</th>
		        </tr>
		    </thead>

		    <tbody>
		    	{% for i in result.hosts %}
		        <tr>
		            <td>{{i.id}}</td>
		            <td>{{i.hostname}}</td>
		            <td>{{i.comment}}</td>
		            <td>{{i.ipaddress}}</td>
		            <td>{{i.regdate}}</td>
                            <td><a href="/edit/{{i.id}}"><button class="pure-button pure-button-small">edit</button></a></td>
                            <td><a href="/reg_dns/{{i.id}}"><button class="pure-button pure-button-small">add dns</button></a></td>
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
	</div>

{% include "inc/footer" %}
